// Fonts
@import url('https://fonts.bunny.net/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import 'bootstrap/scss/bootstrap';

body {
    font-size: 14px;
    font-weight: normal;
}

nav.navbar.navbar-expand-lg {
    margin-bottom: 20px;
}

/* footer */
footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: #777;
  font-size: 13px;
  font-weight: bold;

  a {
    color: #555;
  }

  a:hover {
    color: #222;
  }

  img.brand-icon {
    width: 17px;
    height: 17px;
  }
}

._userinfo {
  width: 100%;
  text-align: center;
  .lead {
    font-size: 24px;
    font-weight: bold;
    line-height: 2;
    color: #212121;
  }
}

._stats {
  width: 100%;
  max-width: 240px;
  margin: 0 auto;
  display: flex;
  justify-content: space-evenly;
  a {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 14px;
    color: #212121;
    font-weight: 300;
    strong {
      font-size: 24px;
      font-weight: bold;
    }
  }
}

._status_item {

  ._status_content {
    padding: 0 10px;
    text-align: justify;
    h5 {
      font-size: 20px;
    }
    small {
      color: #999;
      font-size: 14px;
      font-weight: 300;
      font-style: italic;
    }
  }
  ._status_control {
    display: flex;
    align-items: center;
  }
}

._status_form {
  button {
    width: 100%;
    line-height: 2;
  }
}

.list-group {
  flex-wrap: wrap;
  .list-group-item {
    width: 120px;
    border: none;
    text-align: center;
  }
}


